@import './../../partials/variables'; 

.chartDataLine {
    min-height:400px;
    background-color: $greylight-transparent;  //rgba(248, 251, 252, 0.7);
    padding:20px; 
}

.btnContainer {
    float:right; 
    background-color: $greylight-transparent;
    max-width: 190px; 
    display: inline-block
}

.btn {
    display: block;
    margin: 20px; 
    padding: 4px 12px; 
    background-color: white; 
    border: 1px solid white
}