@import './../../partials/_variables.scss';
@import './../../partials/_mixins.scss';

.asideMenuBar{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: $default-text-color; // whitesmoke;
    z-index: 9;
    @include respond-to('xsmall') {
        padding:18vh 0px 0px 0px;
        width: 17vw;
    }

    @include respond-to('small') {
        padding:18vh 5px 5px 5px;
        width: 13vw;
    }
    @include respond-to('medium') {
        padding:18vh 5px 5px 5px;
        width: 13vw;
     }
    @include respond-to('large') {
        padding: 18vh 20px 20px 20px;
        width: 12vw;
    }
    transition: all 0.5s linear; 
}

 .red a.active {
  color: $red-bkg; 
}

.yellow a.active {
    color: $yellow-bkg;  

}
 
.blue a.active {
    color: $blue-bkg; 
}

.grey a.active {
    color: $lila; 
}

.asideMenuBar.isSmall {
    padding: 10px;
    padding-top: 18vh;

    @include respond-to('xsmall') {
        width: 15vw;
    }
    @include respond-to('small') {
        width: 17vw; 
    }
    @include respond-to('medium') {
        width: 7vw;
    }
    @include respond-to('large') {
        width: 7vw;
    }

    .menu {
        color: $default-text-color;
        text-align: center; 
        width: 78%;
    
        .menuIcon {
            font-size: 2em;
            text-align: center;
        }

        .menuTitle {
            display: none; 
        }
    }

}


.panelTriger{
    position: absolute;
    top: 0vh;
    left: 0;
    padding: 3vh 0;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    @include respond-to('xsmall') {
       visibility: hidden; 
    }
    @include respond-to('small') {
        visibility: hidden; 
    }
    @include respond-to('medium') {
        visibility: visible; 
    }
 }

.menu {
    padding: 10px 0;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    margin: 15px auto;
    @include respond-to('xsmall') {
        width: 100%; 
        background-color: none; 
    }
    @include respond-to('small') {
        width: 85%; 
        background-color: none; 
     }
    @include respond-to('medium') {
        width: 70%;
        background-color:rgba(116, 116, 116, 0.4);
      }
    @include respond-to('large') {
        width: 70%;
        background-color:rgba(116, 116, 116, 0.4);
     }


 }

 
 .menuIcon {
     text-align:  center;
     font-size: 2em;

 }

 .menuTitle{
    text-align:  center;
    font-size: 1em; 
}


 .submenu {
    padding: 10px 0 0 0;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px dotted rgba(190, 193, 200, 0.6);
    margin: 10px 0 0 0;

}

 a {
     color: #BEBDBD; 
     &:hover{
         color: white; 
     }
 }

 
 