@import './../../partials/variables'; 
@import './../../partials/mixins'; 



#root {
	min-height: 100vh;
    background-color: $greylight-bkg;
    height: auto;
}

.App {
  text-align: center;
}

header p{
	text-align: left;
	padding: 0;
	margin: 0 0 0 -30px;
}


.App-header {
  $marginElem : 1px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 160px; 
  height: $tile-height; 
  padding: $tile-padding; 
  width: $tile-width;   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 /* color: white; */
  margin: $marginElem; 
  transition: all 0.9s ease;
  position: relative; 
 // box-shadow: $box-shadow; 

}

.viewMore{
    $marginElem : 1px;
	width: calc(2 * #{ $tile-width } + 2px);
	align-items: flex-start; 
	padding: $tile-padding; 
}
 
.App-header p, 
.App-header.viewMore p{
	margin: 0;
	padding: 0; 
}
 

.board {
    @extend %row-flex-start; 
    
    padding: 17.2vh 0vw 5vh 14vw; 
    margin: 0 auto; 
    min-height: 100vh; 
}

.activeCourseContainer{
    @extend %row-flex-start; 
	width: 70vw;  
 }


.maxBtn {
	align-self: flex-end;
    color: white;
    font-size: 16px;
    text-shadow: 0 2px 1px #3f4653;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}
 
 
.maxBtn li{
	margin: 0;
    padding: 0;
    right: 10px;
    width: 10px 
}

.App-header.viewMore .maxBtn li {
	top: 0px;
}


.smallFont{
    font-size: 14px; 
    color: $default-text-color; 
}

.smallFont.subtitle{
	padding: 0 10px 5px 0;
    
    font-size: 0.6em; 
    text-align: left; 
}

.smallFont.subtitle > span{
	margin-right: 10px; 
}

 

.leftAlign {
	text-align: left; 
}
.bold {
	font-weight: bold; 
}

.bar {
	width: 100%;
	background-color: #ddd;
    margin:10px 0; 
}

 .fullWidth{
	 width: 100%; 
 }