@import './../../partials/variables'; 
@import './../../partials/mixins'; 


.BkgColors {
	width: auto; 
	margin: 0; 
	padding: 0;
	display: inline-block; 
	float: right; 
	margin-top: 7px;
 }
 
 
 .coverBox li {
	width: 2vw;
    height: 2vh;
    margin: 0.2vw;
 }
 

 .red {
	 @include setBkgColor($red-bkg); 
 }
 
 .yellow {
	@include setBkgColor($yellow-bkg); 
 }
 
 .blue {
	@include setBkgColor($blue-bkg); 
 }

 .grey {
	@include setBkgColor($greylight-bkg); 
 }