@import './../../partials/variables'; 
@import './../../partials/mixins'; 

.AddNewElem.button{
	cursor: pointer; 
	position: absolute;
	bottom: 10px;
	height: 50px;
    padding-left: 0;

}
.AddNewElem > div{
	font-size: 1em; 
	margin:0;
	padding: 0;
	color: $default-text-color;

}

.AddNewElem > div > p {
	font-size: 0.8rem;
    background-color: $default-text-color;
    padding: 10px;
    min-width: 200px;
    position: absolute;
    top: 40px;
	color: white;
    right: 0;
}

.p-is-small {
	font-size: 0.5rem; 
	margin-left: 0; 
}
.AddNewElem header{
 	margin:0;
	padding: 0 8px;
}

.isVisible{
	display: block;
}
.isNotVisible{
	display: none; 
}



