@import './../../partials/variables'; 

.conteiner{
    min-height: 40vh;
    width: 16vw;
    position: fixed;
    right: 0;
    top: 17.333vh
    
    
}


.wishingListWrraper{
  min-height:  60.3vh;
  padding: $tile-padding 0 $tile-padding $tile-padding;
  background-color: white; 
  box-shadow: $box-shadow;    
  position: relative;
  right: 0;
  top: 0;
  transition: right 1.3s linear; 
  display: flex;
  flex-flow: column;
}


.wishingListWrraper.inactive{
    right: -20vw;
}


.listContainer{
  margin-bottom: 30px;
}

#hook {
    position: absolute;
    top: -22px;
    right: 0px;
    background-color:$default-text-color; 
    width: 50px;
    cursor: pointer;
    margin: 1px;
    z-index: 1000;
  }
  
  .activeHook,
  .inactiveHook {
    background-color: black;
    color: white;
    width: 50px;
    height: 20px;
  }
  
  .activeHook::after {
    content: "»";
    margin: -3px 22px;
    display: block;
  }
  
  .inactiveHook::after {
    content: "«";
    margin: -3px 22px;
    display: block;
  }


  #addWishTraining{
    border: 0;
    border-bottom: 1px solid $default-text-color;
  }
